<launch>
    <!-- namespace -->
    <arg name="ns" default=""/>
    <param name="redis_ns" value="$(arg ns)"/>
    
    <!-- Aruco args -->
    <arg name="camera" default="camera/rgb"/>
    <arg name="image" default="image_raw"/>
    <arg name="transport" default="compressed"/>
    <arg name="fiducial_len" default="0.14"/>
    <arg name="dictionary" default="7"/>
    <arg name="cam_topic" default="/camera/rgb/image_raw/compressed"/>

    <!-- example of how to spawn a single model to gazebo with gazebo_fiducial_spawner in roslaunch-->
    <!--<node name="single_fiducial" pkg="gazebo_fiducial_spawner" type="single_spawner.py" args=" 1 -dict $(arg dictionary) -x 0.4 -z 0.1 -P -1.57" output="screen"/>-->


    <!--  Run the throttled feed for the Aruco node-->
    <node pkg="topic_tools" type="throttle" name="cam_throttle" args="messages $(arg cam_topic) 2" />

    <!-- Run the aruco_detect node -->
    <node pkg="aruco_detect" name="aruco_detect"
        type="aruco_detect" respawn="false">
        <param name="image_transport" value="$(arg transport)"/>
        <param name="publish_images" value="true" />
        <param name="fiducial_len" value="$(arg fiducial_len)"/>
        <param name="dictionary" value="$(arg dictionary)"/>
        <param name="do_pose_estimation" value="true"/>
        <remap from="/camera/compressed"
            to="$(arg camera)/$(arg image)/$(arg transport)_throttle"/>
        <remap from="/camera_info" to="$(arg camera)/camera_info"/>
        <remap from="/fiducial_transforms" to="/fiducial_transforms" />
    </node>

    <!-- bridge -->
    <node pkg="robot_services" type="fiducial_bridge.py" name="fiducial_bridge" output="screen">
        <param name="cam_frame" value="camera_rgb_optical_frame"/>
        <param name="dict" value="$(arg dictionary)"/>
    </node>
    <!-- publish robot tfs to frames on body-->
    <arg name="urdf_file" default="" />  <!-- the path to the robot's urdf file. leave blank using gazebo-->
    <group if="$(eval arg('urdf_file') != '')">
        <!-- If you use gazebo, this param is already set. for an IRL robot, pass the urdf_file arg-->
        <param name="robot_description" command="$(arg urdf_file)" />
    </group>
    <node pkg="robot_state_publisher" name="state_publisher" type="robot_state_publisher" output="screen"/>
</launch>